<div align="center">
<h1>Create import file </h1>
<form action ="" method="post" >
<input type="textbox" name="order_detail_id" />
<input type="submit" value="Create"/>
</form>
<br>
{if $result}
{$result}
{/if}

</div>