<div align="center">
<h1>Create import file </h1>
<form target="_blank" action="" method="post">
    order_detail_id: <input type="textbox" name="order_detail_id"/>
    <br>
    ---------------------------------------------------------------
    <br>
    <b>For KNG (KFG) only:</b> <br><br>
    delivery_types: 
    <select name="delivery_types" id="">
        {foreach from=$delivery_types key=id item=name}
            <option value="{$id}">{$name}</option>
        {/foreach}
    </select>
    <br>
    <br>
    settlement_ways: 
    <select name="settlement_ways" id="">
        {foreach from=$settlement_ways key=id item=name}
            <option value="{$id}">{$name}</option>
        {/foreach}
    </select>
    <br>
    ---------------------------------------------------------------
    <br>
    <input type="submit" value="Download"/>
</form>
{if $result}
{$result}
{/if}

</div>