<br><br><br>
<form action ="" method="post">
<div align="center">
<table class="edit w_full" style="height: 50px; width: 50px">
    <tr class="header">
    <td colspan="2"><strong class="fs18">Login</strong></td>
    </tr>
    <tr>
        <td><label>ID: </label></td>
        <td> <input type="text" name="id"/></td>
    </tr>
    <tr>
        <td><label>Password: </label></td>
        <td><input type="password" name="password"/></td>
    </tr>
    <tr >
    <th colspan="2" class="a_center"> <input type="submit" class="submit_button" /></th>
    </tr>
</table>
</div>
</form>
    {if $wrong}
    <div align="center" class="errors_message">{$wrong}</div>
    {/if}
